<!DOCTYPE html>
<html>

<head>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <title>건강정보 조회</title>
</head>

<body style="
font-size: 13px;
line-height: 1.2;
color: #444;
letter-spacing: -0.05em;
-webkit-font-smoothing: antialiased;
width: 80%"
>
    <div id="InfoHealth" />
    <script type="text/babel" src="react/healthSupport.jsx"></script>

    <div id="test" />
    <script type="text/babel" src="react/depression.jsx"></script>

</body>

</html>