<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html style="background: whitesmoke">

<head>
	<title>HappyMedi</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="javascripts/my.js"></script>

	<!-- Style -->
	<link rel="stylesheet" href="css/main2.css" />

</head>

<body class="join_body">
	<div class="Fdiv">
		<div>
			<div>
				<h2>회원 가입</h2>
			</div>
			<hr>
			<div>
				<h3>Email 주소를 입력해 주세요.</h3>
			</div>
		</div>
		<div>
			<form>
				<input id="userEmail" type="email" placeholder="이메일 주소 입력">
				<h3>비밀번호를 입력해 주세요.</h3>
				<input id="userPaswdd" type="password" placeholder="비밀번호 8~32자리">
				<input id="paswddConform" type="password" placeholder="비밀번호 재입력">
				<div>
					<h3>이름을 입력해 주세요.</h3>
					<input id="userName" type="text" placeholder="이름 입력">
					<div>
						<h3>휴대전화번호 입력해 주세요.</h3>
						<input id="userTel" type="text" placeholder="전화번호">
					</div>
					<div>
						<h3>성별을 입력해 주세요</h3>
					<label>
						<span><input type="radio" name="gender" value="male" /></span>
						<span>남성</span>
					</label>
					<label>
						<span><input type="radio" name="gender" value="female" /></span>
						<span>여성</span>
					</label>
					</div>
				</div>
			</form>
			
			
			<input action="action" type="button" style="float:right;" id="joinReqID" value="Send" />
			<input action="action" type="button" value="Back" onclick="history.go(-1);" />

		</div>


		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; Untitled.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
			</ul>
		</footer>

	</div>
	</div>
</body>

</html>