<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html style="background: whitesmoke">

<head>
	<title>HappyMedi</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="javascripts/my.js"></script>

	<!-- Style -->
	<link rel="stylesheet" href="css/main2.css" />

</head>

<body class="join_body">

	<div id="title">환자등록하기</div>

	비밀번호를 입력하세요(ex:01048)</br>

	<div id="see_info">
		<input name="see_paswd" id="see_paswd" placeholder="비밀번호를 입력하세요" type="text" required /></br>
		<input type='button' id="see_btn" style="float:left;" value='조회'>
		<button id="delete_btn" style="float:right;" type="submit">탈퇴하기</button>
		<div id="see_div"></div>
		<br>
	</div>
	</div>
	</div>
</body>

</html>