<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>여행을 포스팅하다 Postrip</title>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="javascripts/kdr.js"></script>
	<script src=""></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/join.css" />
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

			<div class="menu">
					<a href="/">HOME</a>
					<ul class="toolbar">
							<ul class="toolbar">
									<li><a id="login_li" href="login">Login</a></li>
									<li><a id="join_li" href="join">Join</a></li>
									<li><a id="mypage_li" href="mypage2">MyPage</a></li>
									<li id="fag_li">FAQ</li>
								</ul>
					</ul>
				</div>

		<!-- Header -->
		<header id="header">
			<span class="avatar"><img id="profile_image" src="images/avatar.jpg" alt="" /></span>
		</header>

		<!-- Main -->
		<section id="main">

			<div>
				<form method="POST" id="join_form" action="join_db" enctype="multipart/form-data">
					<p style="font-size: 20pt;">Join</p>
					<p style="font-size: 14pt;">Profile Image</p>
					<label for="save_profile" id="upload_label">upload</label>
					<input id="save_profile" type="file" name="img" />
					<p style="font-size: 14pt;">E-mail</p>
					<input name="join_email" type="email" placeholder="이메일" />
					<p style="font-size: 14pt;">Name</p>
					<input name="join_name" type="text" placeholder="이름" />
					<p style="font-size: 14pt;">ID</p>
					<input name="join_id" type="text" placeholder="아이디" />
					<p style="font-size: 14pt;">Password</p>
					<input name="join_pw" type="password" placeholder="비밀번호" />

					<p style="font-size: 14pt;">생년월일</p>
					<div class="birth">
						<input name="year" type="text" placeholder="년(4자)" maxlength="4" style="margin-right: 1em;" />
						<select name="month" style="margin-right: 1em;" >
							<option>월</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<input name="day" type="text" maxlength="2" placeholder="일">
					</div>

					<div class="join_position">
						<input id="join_btn" type="submit" value="Join" />
					</div>

				</form>

			</div>

		</section>

		<!-- Footer -->
		<footer id="footer">
			<p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo
				Images:
				<a href="http://unsplash.com">Unsplash</a>.</p>
		</footer>

	</div>
</body>

</html>