<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>여행을 포스팅하다 Postrip</title>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="javascripts/kdr_login.js"></script>
	<script src=""></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/login.css" />
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<div class="menu">
			<a href="/">HOME</a>
			<ul class="toolbar">
				<li><a id="login_li" href="login">Login</a></li>
				<li><a id="join_li" href="join">Join</a></li>
				<li><a id="mypage_li" href="mypage2">MyPage</a></li>
				<li id="fag_li">FAQ</li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
		</header>

		<!-- Main -->
		<section id="main">

			<div>
				<!-- <form method="POST" id="login_form" action="login_db"> -->
				<form id="login_form">
					<div style="margin-left: 25%; margin-right: 25%">
						<p style="font-size: 20pt;">Login</p>
						<p style="font-size: 14pt;">ID</p>
						<input name="login_id" type="text" placeholder="아이디" />
						<p style="font-size: 14pt;">Password</p>
						<input name="login_pw" type="password" placeholder="비밀번호" />
						<div class="login_div" style="text-align: center">
							<input id="login_submit" type="submit" value="Login" />
							<input id="find_btn" type="button" value="Find ID/PW" />
						</div>
					</div>
				</form>

			</div>

		</section>

		<!-- Footer -->
		<footer id="footer">
			<p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo
				Images:
				<a href="http://unsplash.com">Unsplash</a>.</p>
		</footer>

	</div>
</body>

</html>